body{
  padding-left:10px;
  background-color: whitesmoke;
  display:inline-block;  
}
.head{
  background-color:red;
  color:white;
  padding:2px;
  margin:4px;
}
.abs{
  color:red;
  padding-left:10px;
}
span{
  font-weight:bold;
}
button{
  color:white;
  background-color:red;
  padding:10px;
  border:1px solid red;
}
a{
  color:black;
}
.main{
  padding-left:90px;  
  width:800px;
  padding:30px;
  background-color:white;
}
.main1{
  width:450px;
  padding-left:30px;
  padding:20px;
  background-color:white;
  vertical-align:top;
  
}
.main2{
  width:450px;
  padding-left:30px;
  padding:20px;
  background-color:white;
  margin-top:15px;
}
.division{
  display:inline-block;
  vertical-align:top;
  margin:1px; 
  padding-left:20px;  
}
.head p{
  padding-left:60px;
}
.r{
  padding-left:40px;
}





